{% load static %}

<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>💻 SWFT LABS</title>
  <!-- Unicons -->
  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />

  <!-- Particles.js -->
  <script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>

  <script src="{% static 'js/script.js' %}" defer></script>
  </head>
<body>

    <!-- 🌟 Navbar -->
  {% include 'includes/navbar.html' %}

  <!-- Global Message Alerts -->
{% if messages %}
<div class="container message-container">
  {% for message in messages %}
    <div class="alert {{ message.tags }}">
      {{ message }}
    </div>
  {% endfor %}
</div>
{% endif %}

  <!-- ⭐️ Particle Background -->
    <div id="particles-js"></div>

    <!-- Main Content Block -->
  <main>
    {% block content %}{% endblock %}
  </main>

  <!-- Scroll to Top Button -->
<button id="scrollToTopBtn" title="Go to top">↑</button>

<!-- Elfsight WhatsApp Chat WhatsApp Chat -->
    <script src="https://elfsightcdn.com/platform.js" async></script>
    <div  class="elfsight-app-9eebebbd-3eae-4577-a8ea-3f92c8fe4ac4" data-elfsight-app-lazy>
    </div>


    {% include 'includes/footer.html' %}

</body>
</html>